# Sekrety stacku produkcyjnego TechByte.
# Skopiuj do .tools/docker/.env na serwerze i uzupelnij. Plik z prawdziwymi
# wartosciami jest wylaczony z repozytorium.
DB_ROOT_PASSWORD=zmien-mnie
DB_DATABASE=techbyte
DB_USERNAME=techbyte
DB_PASSWORD=zmien-mnie
